:root{
    --fightersWidth: 500px;
    --fightersHeight: 150px;
}

.center {
    margin-left: 50%;
    transform: translate(-50%);
}

.window {
    box-shadow: 5px 5px 10px 5px rgb(187, 187, 187);
    border-radius: 10px;
    text-align: center;
    width: 80%;
    margin-top: 10px;
}

.life {
    border-radius: 5px;
    border: 1px solid #000;
    width: 450px;
    height: 20px;
    
}

.lifebar {
    background-color: green;
	height: 100%;
}

#players {
    display:inline-block;
    padding: 10px;
}

.playersBox {
    float: left;
    width: var(--fightersWidth);
    height: var(--fightersHeight);
    background-color: rgb(187, 187, 187);
    margin: 10px;
}

p.playerTitle {
    margin-top: 40px;
    font-size: larger;
}

p.lifepoints {
    font-size: medium;
    font-weight: bolder;
}

#bottons {
    align-items: center;
    padding: 20px;
}

.button {
    margin: 5px 20px 5px 20px;
    height: 30px;
}

li {
    list-style: none;
}

.logEvent {
    background-color: rgb(20, 128, 52);
    color: white;
    padding: 5px;
    font-size: medium;
    margin-left: 0;
}